#newsletter {
  background-color: $color-secondary;
  img {
    width: 100%;
  }

  button {
    background-color: #7BB84F;
    padding: 8px 15px 8px 12px;
    text-align: center;
    color: $color-secondary;
    font-size: 0.8125rem;
    text-transform: uppercase;
    margin: 0 0 45px 0;
  }

  p {
    font-size: $size-font;
    color: $color-font-primary;
  }
}
