#newsroom {
  background-color: $color-secondary;
}

.styleW {
  width: 300px;
  height: 300px;
}

.float {
  float: left;
}

#blue {
  background-color: #0071BD;
}

#blueClear {
  background-color: #A4D3F3;
}

#blueDark {
  background-color: #333C4D;
}

#blueTwo {
  background-color: #76B3DD;
}

button {
  background-color: #40ACEB;
  @include button-general;
}

.play {
  display: block;
}

.unique {
  margin: 0;
  font-weight: bold;
}
