#newsletter {
  background-color: $color-secondary;
  img {
    width: 100%;
  }

  button {
    background-color: #7BB84F;
    @include button-general;
  }

  p {
    font-size: $size-font;
    color: $color-font-primary;
  }
}
